In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

untuk menginstal library 'pandas'

In [ ]:
import pandas as pd

untuk impor 'pandas' ke pd

In [ ]:
from google.colab import drive

untuk impor data dari drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

untuk mengonekkan dengan drive

In [ ]:
path = '/content/drive/MyDrive/bmw_global_sales_dataset.csv'

untuk uploud file dan menyimpannya

In [ ]:
df = pd.read_csv(path)

ngolah

In [ ]:
df.head(5)

,year,month,country,model,segment,engine_type,price_usd,marketing_spend_usd,dealership_count,fuel_price_usd,gdp_growth_percent,interest_rate_percent,competition_index,units_sold
0,2021,1,Australia,X1,SUV,Petrol,82234,315372,96,0.97,6.29,1.2,8,324
1,2018,8,Australia,i4,Sedan,Electric,82291,447798,234,0.97,6.29,1.2,7,556
2,2022,12,USA,5 Series,Electric,Hybrid,40594,259755,25,0.97,6.29,1.2,7,152
3,2019,11,Australia,i7,SUV,Electric,42371,323541,319,0.97,6.29,1.2,5,730
4,2021,12,Brazil,X5,SUV,Diesel,82315,482015,367,0.97,6.29,1.2,2,1156

menampilkan 5 awal

In [ ]:
df.tail(5)

,year,month,country,model,segment,engine_type,price_usd,marketing_spend_usd,dealership_count,fuel_price_usd,gdp_growth_percent,interest_rate_percent,competition_index,units_sold
995,2024,10,UK,i4,Sedan,Electric,64813,126425,177,0.97,6.29,1.2,1,570
996,2024,2,India,3 Series,Sedan,Petrol,119431,473502,56,0.97,6.29,1.2,7,433
997,2022,2,Brazil,5 Series,SUV,Electric,100679,65994,212,0.97,6.29,1.2,1,614
998,2016,1,Brazil,i7,Sedan,Hybrid,45681,161915,223,0.97,6.29,1.2,9,511
999,2023,10,China,7 Series,Sedan,Petrol,107903,435105,255,0.97,6.29,1.2,1,891

5 terakhir

In [ ]:
df.loc[3]

year                          2019
month                           11
country                  Australia
model                           i7
segment                        SUV
engine_type               Electric
price_usd                    42371
marketing_spend_usd         323541
dealership_count               319
fuel_price_usd                0.97
gdp_growth_percent            6.29
interest_rate_percent          1.2
competition_index                5
units_sold                     730
Name: 3, dtype: object

menampilkan data dengan nomor urut 3

In [ ]:
df.iloc[1:20]

,year,month,country,model,segment,engine_type,price_usd,marketing_spend_usd,dealership_count,fuel_price_usd,gdp_growth_percent,interest_rate_percent,competition_index,units_sold
1,2018,8,Australia,i4,Sedan,Electric,82291,447798,234,0.97,6.29,1.2,7,556
2,2022,12,USA,5 Series,Electric,Hybrid,40594,259755,25,0.97,6.29,1.2,7,152
3,2019,11,Australia,i7,SUV,Electric,42371,323541,319,0.97,6.29,1.2,5,730
4,2021,12,Brazil,X5,SUV,Diesel,82315,482015,367,0.97,6.29,1.2,2,1156
5,2024,12,China,i7,Electric,Diesel,118564,349155,172,0.97,6.29,1.2,6,687
6,2017,4,USA,i4,Electric,Diesel,114526,129183,107,0.97,6.29,1.2,10,439
7,2021,4,USA,X7,Sedan,Diesel,51626,405398,165,0.97,6.29,1.2,3,489
8,2022,5,India,3 Series,Sedan,Petrol,42130,487480,11,0.97,6.29,1.2,4,435
9,2019,8,UK,7 Series,SUV,Petrol,41828,92317,359,0.97,6.29,1.2,10,1080
10,2018,5,UK,5 Series,Electric,Electric,92514,228986,178,0.97,6.29,1.2,2,447
11,2022,8,Brazil,X3,Electric,Hybrid,87664,265705,324,0.97,6.29,1.2,2,827
12,2022,10,Canada,X3,Electric,Diesel,52883,414633,334,0.97,6.29,1.2,8,712
13,2017,1,Germany,X3,SUV,Electric,78059,226326,384,0.97,6.29,1.2,8,1181
14,2020,12,Germany,X1,Electric,Petrol,119078,352240,101,0.97,6.29,1.2,10,307
15,2019,10,France,X3,Electric,Petrol,77932,365929,190,0.97,6.29,1.2,6,725
16,2016,9,Brazil,7 Series,SUV,Hybrid,96269,102344,240,0.97,6.29,1.2,5,588
17,2022,6,USA,3 Series,Sedan,Hybrid,110986,296060,310,0.97,6.29,1.2,8,644
18,2020,3,Brazil,X3,Sedan,Hybrid,37035,432526,157,0.97,6.29,1.2,4,534
19,2016,8,Brazil,i7,SUV,Electric,75745,249618,289,0.97,6.29,1.2,4,1004

menampilkan data sesuai interval dengan batas tentu

In [ ]:
df['country'] [1:10]

1    Australia
2          USA
3    Australia
4       Brazil
5        China
6          USA
7          USA
8        India
9           UK
Name: country, dtype: object

menampilkan data sesuai label yan diminta dengan interval tentu